.container
  .col-md-6.col-md-offset-3.login-box
    h1(style="text-align:center;") To Do
    h5(style="text-align:center;") Please login to proceed
    .alert.alert-danger(ng-show="user.error") {{user.error}}
    form(name="userForm" ng-submit="user.login()" role="form")
      .form-group(ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }")
        label Email
        input.form-control(type="email" name="email" ng-model="user.email" required email)
        div.help-block(ng-messages="userForm.email.$touched && userForm.email.$error")
          p(ng-message="email") Your email is invalid.
          p(ng-message="required") Your email is required.
      .form-group(ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }")
        label Password
        input.form-control(type="password" name="password" ng-model="user.password" required)
        div.help-block(ng-messages="userForm.password.$touched && userForm.password.$error")
          p(ng-message="required") Your password is required.
      .form-actions
        button.btn.btn-primary.pull-left(type="submit" ng-disabled="userForm.$invalid || user.dataLoading") Login
        img(ng-if="user.dataLoading" src="{{user.loadingImage}}")
        button.btn.btn-primary.pull-right(type="button" data-toggle="modal" data-target="#register") Register

.modal.fade(id="register",role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal") &times;
        h4.modal-title Register
      .modal-body(style="overflow-y: auto;")
        .alert.alert-danger(ng-show="user.reg_error") {{user.reg_error}}
        form(name="regForm" ng-submit="user.register()" role="form")
          .form-group(ng-class="{ 'has-error': regForm.reg_email.$touched && regForm.reg_email.$invalid }")
            label Email
            input.form-control(type="email" name="reg_email" ng-model="user.reg_email" required reg_email)
            div.help-block(ng-messages="regForm.reg_email.$touched && regForm.reg_email.$error")
              p(ng-message="email") Your email is invalid.
              p(ng-message="required") Your email is required.
          .form-group(ng-class="{ 'has-error': regForm.reg_password.$touched && regForm.reg_password.$invalid }")
            label Password
            input.form-control(type="password" name="reg_password" ng-model="user.reg_password" required)
            div.help-block(ng-messages="regForm.reg_password.$touched && regForm.reg_password.$error")
              p(ng-message="required") Your password is required.
          .form-group(ng-class="{ 'has-error': regForm.reg_password_repeat.$touched && regForm.reg_password_repeat.$invalid }")
            label Password Reapet
            input.form-control(type="password" name="reg_password_repeat" match="user.reg_password" ng-model="usr.reg_password_repeat" required)
            div.help-block(ng-messages="regForm.reg_password_repeat.$touched && regForm.reg_password_repeat.$error")
              p(ng-message="required") Your password is required.
              p(ng-message="match") Your password doesn't match.
          .form-actions
            button.btn.btn-primary.pull-left(type="submit" ng-disabled="regForm.$invalid || user.dataLoading") Register
            img(ng-if="user.dataLoading" src="{{user.loadingImage}}")










