.page-header {
  background-color: black;
  padding-top:9px;
  margin: 0px 0px 0px 0px;
  border-bottom: 0px;
}

.page-header > img {
  display:block;
  height:50px;
  margin-left:auto; 
  margin-right:auto;
}

body {
  background-color: #DCDCDC;
  background-size: cover;
}

.login-box {
  background-color: white;
  padding-bottom: 15px;
  overflow-y: auto;
}

.welcome-message {
  padding-top: 5%;
  text-align: center;
}

.dataTables_wrapper {
  display: block;
  margin: 0px auto 0px auto;
  padding: 10px 10px 10px 10px;
  width: 80%;
  border-radius: 10px;
  background-color: white;
}

.navbar {
  color: white;
  margin-top: -55px;
  margin-bottom: 20px; 
}

.add_todo {
  font-size: 30px;
  margin-top: 3px;
}

table {
  border-spacing: 3px;
  border-collapse: separate;
}

a.no_deco {
  color: inherit;
  text-decoration: none;
}

.glyphicon-check {
  color: green;
}